@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('Questrial-Regular.ttf');
}

html,body,
div, p, span, a,
ul, li, img {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Questrial', Arial;
}
html, body { height: 100% }
body {
  background-color: #ccc;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1200px;
  margin: auto;
  text-align: left;
  background-color: white;
         box-shadow: 5px 5px 5px #aaa, -5px 0 5px #aaa;
	   moz-box-shadow: 5px 5px 5px #aaa, -5px 0 5px #aaa;
	webkit-box-shadow: 5px 5px 5px #aaa, -5px 0 5px #aaa;
}

.header {
  height: 120px;
  padding: 40px 0 5px 0px;
  overflow: hidden;
}
.header-inner {
  width: 1062px;
  margin: auto;
  overflow: hidden;
}
.logo {
  float: left;
}
.site-nav {
  float: left;
  height: 110px;
}
.site-menu {
  overflow: hidden;
}
.site-menu li {
  float: left;
  margin-left: 20px;
}
.site-menu a {
  padding: 0 4px;
  color: #333;
  font-size: 1.5em;
  text-decoration: none;
}
.site-menu a:hover {
  color: white;
  background-color: #EE3987;
  text-decoration: none;
}
.site-menu-externals {
  margin-top: 14px;
  overflow: hidden;
}
.site-menu-externals li {
  float: left;
  margin-left: 20px;
}
.site-menu-externals a {
  padding: 0 4px;
  color: #333;
  font-size: 1.1em;
  text-decoration: none;
}
.site-menu-externals a:hover {
  color: white;
  background-color: #EE3987;
  text-decoration: none;
}
.external-dot {
  color: #009BCA;
}
